body{
    background-color: black;
    display: inline-block;
    
}
h2{
    color: white;
    margin-left: 30px;
}
.chat{
    background-color: cadetblue;
    color: black;
    font-size: 20px;
    line-height: 1.9;
    padding: 8px 8px 8px 17px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
}
/* .btn{
    padding:8px;
    margin: 0px 10px 10px 10px;
    background-color: goldenrod;
    color: aliceblue;
    font-size: 20px;
    box-shadow: -2px 2px 2px rgba(184, 167, 167)
} */
