<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>My mini Chat app :</h2>
    <% for ( let chat of chatsData) {%>
     <div class="chat">
        <p>From : <%= chat.from %></p>
        <div class="msg">
            <%= chat.msg %>
        </div>
        <p>Recieved by : <%= chat.to %></p>
     </div>
     <hr>
    <% } %>
</body>
</html>