<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chat App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h2>Create New Chat</h2>
        <div>
            <input type="text" placeholder="who are you ?" name="from"> <br> <br>
            <textarea name="msg"  cols="30" rows="10" placeholder="write your message"></textarea> <br> <br>
            <input type="text" placeholder="receiver name" name="to"> <br> <br>
            <button>Submit New Chat</button>
        </div>
    </div>
</body>
</html>