<div class="footer">
    <div>
        <h3>Connect me on :</h3>
        <div class="footer-navbar">
            <div class="social-bar">
                <a href="https://www.instagram.com/reddyr.c"><i class="fa-brands fa-square-instagram"></i></a>
                &nbsp;&nbsp;
                <a href="https://www.facebook.com/rajiasyal"><i class="fa-brands fa-square-facebook"></i></a>
                &nbsp;&nbsp;
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                &nbsp;&nbsp;
                <a href="https://www.github.com/rajiarani"><i class="fa-brands fa-square-github"></i></a>
            </div>
        </div>
    </div>
</div>