body{
    margin-left: 20px;
}
.chatbox{
    padding: 20px;
  background-color: aliceblue;
  display: inline-block;
  border-radius: 20px;
}
.msgbox{
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
}