<%- include("includes/header.ejs") %>
<body>
    <div>
        <h3>Fill your information below :</h3>
        <form method="post" action="http://localhost:8080/register">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input type="text" placeholder="write your legal name" id="name" name="name" class="form-control" id="exampleFormControlInput1" required>
              </div>
              <br>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Father's name</label>
                <input type="text" name="father_name" id="father_name" placeholder="write your father name" class="form-control" id="exampleFormControlInput1">
              </div>
             <br>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mother's name</label>
                <input type="text" name="mother_name" id="mother_name" placeholder="write your mother name" class="form-control" id="exampleFormControlInput1">
              </div>
              <br>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <br>
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">House address</label>
                <input type="text" name="address" id="address" placeholder="enter your address" class="form-control" id="exampleFormControlInput1">
              </div>
              <br>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone Nummber</label>
                <input type="number" placeholder="enter your phone number" id="number" name="number" class="form-control" id="exampleFormControlInput1">
              </div>
              <br>
             <button type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>