<%- include("includes/header.ejs") %>
<body>
    <%- include("includes/navbar.ejs") %>
    <div class="main-container">
        <form method="post" action="/resume">
            <label for="content">Create New Content :</label> <br>
            <textarea name="content" id="content"  rows="10"></textarea> <br>
            <button>Submit</button>
        </form>
    </div>
    <%- include("includes/footer.ejs") %>
</body>