<%- layout("layouts/boilerplate.ejs") %>
<div class="mt-5">
    <h3>Write new chat!!</h3>
    <form method="POST" action="/chats">
        <label for="from" class="form-label">From :  </label>
        <input type="text" placeholder="who are you?" name="from" class="form-control"> <br> 
        <label for="message" class="form-label">Message : </label> 
        <textarea placeholder="write your message here!!" cols="40" rows="10" name="message" class="form-control"></textarea>
        <br>
        <label for="to" class="form-label">Reciever : </label>
        <input type="text" placeholder="add recevier" name="to" class="form-control">
        <br>
        <button class="btn btn-primary">Add new Chat</button>
        <button class="btn btn-primary"><a href="/chats">Back</a></button>
    </form>
</div>