<%- include("includes/common.ejs") %>
<body>
    <div>
        <h1>Welcome to Classroom <i class="fa-solid fa-school"></i></h1>
    </div>
     <br> <br>
     <div>
        <h2>Your Answer is below : </h2>
        
     </div>
</body>