<%- include("includes/common.ejs") %>
<body>
    <div>
        <h1>Welcome to Classroom <i class="fa-solid fa-school"></i></h1>
    </div>
     <br> <br>
     <div>
       <div>
        <h2> Edit your question : <%= ques.id %></h2>
        <form  method="POST" action="/classroom/<%= ques.id %>?_method=PUT">
        <textarea name="que" id="que" cols="50" rows="8">
         <%= ques.que %>
        </textarea> 
        <br> <br>
        <button>Submit</button>
       </form>
    </div>
    </div>
</body>