<%- include("includes/header.ejs") %>

    <h1>Add new student Information below :</h1>
    <form method="post" action="/stcollege">
        <div class="row col-6">
            <div class="input-group mb-3 row col-6">
                <input type="text" class="form-control" placeholder="Enter student name" name="name">
            </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Father's name" name="father_name">
              </div>
     
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter the class" name="std" >
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter stream" name="sub">
          </div>
        </div>
        <button>Submit</button>
    </form>
