<div class="navbar">
    <ul class="nav">
        <li class="nav-item"><a href="http://localhost:8080/resume">HOME</a></li>
        <li class="nav-item"><a href="http://localhost:8080/resume/about">ABOUT</a></li>
        <li class="nav-item"><a href="http://localhost:8080/resume/about">RESUME</a></li>
        <li class="nav-item"><a href="http://localhost:8080/resume/about">CONTACT</a></li>
        <li class="nav-item"><a href="http://localhost:8080/resume/about">PROJECTS</a></li>
    </ul>
</div>