p{
    color:red;
    text-align:center;
    font-family:Georgia;
    line-height:30px;
}
h1
{
    text-align:center;
    font-family:Georgia;
    text-decoration:underline;
}
textarea
{
    color:#000000;
    
}
h3{
    font-family:Georgia;
    color:black;
    text-align:center;
}
a{
    text-decoration:none;
    color:green;
}
button
{
    background-color:white;
    color:blueviolet;

}