<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page.</h1>
    <h2><%= 1+3 %></h2>
    <h2> <%= "i am using ejs tags" %> </h2>
    <h3> <%= "rajiarani" %></h3>
    <h3><%= ["ejs","gives", "ans","in", "string", "form"][4] %></h3>
    <p>This is a home.ejs file inside our views folder.
        view folder ka naam view hi rakhna if we want we can change the  name but its good to keep that view name only.
    </p>
    <button>click me!</button>
</body>
</html>