<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<style>
  .err{
    background-color: yellow;
    opacity: 0.8;
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    text-align: center;
  }
</style>
<body>
    <div class="err">
       Opp's something wrong !!
    </div>
</body>
</html>