<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Home Pagae</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa error sapiente, 
        architecto at quibusdam similique assumenda praesentium placeat dolorum reprehenderit ducimus consequuntur repellendu
         rem molestiae nobis perferendis, amet corporis eos modi laborum veritatis soluta blanditiis nemo? Debitis earum eaque
          ipsam quos neque,mollitia, reiciendis enim quod repellendus iste, nam hic!</p>
    <button>Click more</button>
    <a href="#">more</a>
</body>
</html>