<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new message</title>
</head>
<body>
    <h3>Write new chat!!</h3>
    <form method="POST" action="/chats">
        <input type="text" placeholder="who are you?" name="from">
        <br><br>
        <textarea placeholder="write your message here!!" cols="40" rows="10" name="message"></textarea>
        <br><br>
        <input type="text" placeholder="add recevier" name="to">
        <br><br>
        <button>Add new Chat</button>
    </form>
</body>
</html>