body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 231, 232);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.std{
   width: 50%;
   margin-right: auto;
   padding: 10px 0px 0px 25px;
}
.teacher{
    color: black;
    width: 50%;
    margin-left: auto;
    padding: 20px;
}