body{
    margin: 0;
    padding: 0;
}
#main-container{
    font-size: 20px;
    margin-left: 200px;
}
.one{
 
    background-color: pink;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid black;
    position: relative;
    z-index: -5;
}
.two{

    background-color: orange;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid black;
    position: relative;
    bottom: 60px;
    z-index: 5;
}
.three{
   
    background-color: green;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid black;
}