<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form method="post" action="/portfolio">
    <div class="port-new">
        
             <div class="username">
                <label for="username">Username :</label> <br>
                <input type="text" id="username" placeholder="enter username" required class="new" name="name">
              </div>
              <br>
              <div class="email">
                <label for="email">Email :</label> <br>
                <input type="text" id="email" placeholder="enter email" required class="new" name="email">
              </div>
              <br>
              <div class="about">
                <label for="about">Write about yourself :</label> <br>
                <textarea id="about" rows="3" required class="new" name="about"></textarea>
              </div>
              <br>
              <div class="content">
                <label for="content">Write your content :</label> <br>
                <textarea id="content" rows="3" required class="new" name="content"></textarea>
              </div>
              
             <div class="btn new-btn">
                <button class="btn btn-dark">Submit Portfolio</button>
             </div>
    </div>
    </form>
<div class="btn">
  <button><a href="http://localhost:8080/portfolio">Back to Home Page</a></button>
</div>
</body>
</html>