<%- include("includes/header.ejs") %>
<body>
    
    <div class="main-container">
        <h1>My Personal Posts</h1>
        <% for ( post of posts) { %>
            <div class="posts">
             <h3 class="user">@<%= post.username %></h3>
             <div class="content">
                 <p><%= post.content %></p>
             </div>
             <button><a href="http://localhost:3000/posts/<%= post.id %>">See in details</a></button>
             <hr>
            </div>
         <% } %>
         <br>
         <button class="btn"><a href="http://localhost:3000/posts/new">Create New Post</a></button>
    </div>
</body>
</html>